@{
    ViewBag.Title = "Home Page";
}
<section className="contaner">
    <div className="container">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="card text-center col-md-4 mt-3 col-sm-10 p-0">
                    <div class="card-header p-0">
                        <img id="imgSrc" class="img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                    </div>
                    <div class="card-footer text-muted">
                        <button class="btn btn-outline-success" onclick="alertMe()">Change Image</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript">
        function alertMe() {
        $(document).ready(function alertMe() {
    var max ="@ViewBag.max";
    var value = Math.floor(Math.random() * max);
            $.ajax({
                type: "GET",
                url: "/Gallery/indexs",// don't hardcode
    dataType: "json",
    success: function (data) {
        $.each(data, function (index, item) {
            var extension = item.split("\\").pop();
            parts = extension.split(".");
            var imgValue = parts[0];

            if (index === value) {
                imgSrc.src ="/Content/assets/"+extension
                return false; // breaks
            }
    });
  },
   error: function () {

  }
   });
        });
        }

    </script>

}
